<div data-controller="new-mesure">
      <%= simple_form_for @mesure do |f| %>
      <div class="row gy-4 m-1">
    <h2 class='text-center m-1'>Ajouter une nouvelle mesure</h2>
          <%= f.input :title, class: "flex-grow-1" %>
          <div class="col-4 m-0">
          <%= f.association :category, input_html: { 'data-action': "input->new-mesure#show", 'data-new-mesure-target': 'input' }%>
        <%= f.input :content %>
        <%= f.button :submit, class: "btn btn-primary" %>
          </div>
    <div data-new-mesure-target= "container" class="col-8 d-none mt-0">
      </div>
      <% end %>
    </div>
</div>
