<<<<<<< HEAD
<%= link_to "Retour à la liste", mesures_path, class:"btn btn-primary mt-3" %>
<h2 class='text-center mt-3'>Ajoutez une nouvelle mesure</h2>
  <div class="container col-6">
    <%= simple_form_for @mesure do |f| %>
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.association :category %>
  <div class="form-actions mt-5 mb-3 text-center">
    <%= f.button :submit, value:'Créer une mesure', class: "btn btn-primary" %>
  </div>
  <% end %>
=======
<div data-controller="new-mesure">
      <%= simple_form_for @mesure do |f| %>
      <div class="row gy-4 m-1">
    <h2 class='text-center m-1'>Ajouter une nouvelle mesure</h2>
          <%= f.input :title, class: "flex-grow-1" %>
          <div class="col-4 m-0">
          <%= f.association :category, input_html: { 'data-action': "input->new-mesure#show", 'data-new-mesure-target': 'input' }%>
        <%= f.input :content %>
        <%= f.button :submit, class: "btn btn-primary" %>
          </div>
    <div data-new-mesure-target= "container" class="col-8 d-none">
      </div>
      <% end %>
    </div>
>>>>>>> 652fddcecd2b46c233a35170616b551e4d802784
</div>
