<%= link_to "Retour à la liste", mesures_path, class:"btn btn-primary mt-3 ms-1" %>
<div class="m-0 row g-2">
  <div class="col-12">
    <div class="blue-box position-relative">
      <div class="votes position-absolute top-0 end-0 me-5 mt-3">
        <p><%= @mesure.votes_for.size %></p><i class="fa-solid fa-thumbs-up fa-2xl mx-1"></i>
        <p><%= @mesure.get_downvotes.size %></p><i class="fa-solid fa-thumbs-down fa-2xl mx-1"></i>
      </div>
      <h2 class="text-start"><%= @mesure.title %></h2>
        <p class="text-start fs-4 ">catégorie: <%= @mesure.category.name %> </p>
        <div class="col-8">
          <h4>
        <p class="text-start text-wrap fs-6"> <%= @mesure.content %></p>
          </h4>
        </div>
    </div>
      <%= render partial: "shared/comments_area", locals: {comments: @comments } %>
  </div>
    <%# <div class="mt-2"> %>
    <%# </div> %>
</div>
