<div class="blue-box col-md-8">
  <%= simple_form_for [@mesure, @comment] do |f| %>
    <%= f.input :content, label: 'Votre commentaire' %>
    <div class="form-actions my-2 text-end">
      <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
    </div>
  <% end %>
  <h5><%= comments.count %> commentaires</h5>
  <% comments.each do |comment| %>
    <div class="comment-area">
      <div class="user-name-time-comment">
        <div class="d-flex">
          <h6 class="name-comment"><%= comment.user.first_name %> <%= comment.user.last_name %> </h6>
          <p class="time-comment">
            <% minutes = ((Time.now - comment.created_at)/60).round %>
            <% if minutes < 60 %>
              <p class="time">Il y a <%= minutes %> min</p>
            <% elsif (minutes/60).round < 24%>
              <p class="time">Il y a <%= (minutes/60).round %> h </p>
            <% else %>
              <p class="time">Il y a <%= (minutes/60/24).round %> j </p>
            <% end %>
          </p>
        </div>
        <% if comment.user == current_user %>
          <%= link_to comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?" } do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        <% end %>
      </div>
      <p class="content"><%= comment.content %></p>
      <div class="answers-like">
        <div class="answers">
          <% if comment.sub_comments.present? %>
            <button class="btn btn-link btn-sm" onclick="toggleSubComments(<%= comment.id %>)"><%= comment.sub_comments.count %> réponses</button>
          <% end %>
        </div>
        <div class="votes">
          <button class="btn btn-link btn-sm" onclick="toggleReplyForm(<%= comment.id %>)">Répondre</button>
            <div data-controller="comment-vote" class="comment-votes">
              <%= render 'comments/upvote_link', comment: comment %>
              <%= render 'comments/downvote_link', comment: comment %>
            </div>
        </div>
      </div>
    </div>
    <div id="reply-form-container-<%= comment.id %>" style="display: none" class="col-md-12 sub-comment-area flex-end">
      <div class="row justify-content-end">
        <div class="col-10">
          <%= simple_form_for [comment, @sub_comment] do |f| %>
            <%= f.input :content, label: 'Votre réponse' %>
            <div class="form-actions my-2 text-end">
              <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="sub-comments-container-<%= comment.id %>" style="display: none" class="comment-votes">
      <%= render partial: "shared/sub_comment", locals: {sub_comments: comment.sub_comments } %>
    </div>
  <% end %>
</div>
