<div class="blue-box col-md-5">
  <h3><%= title %></h3>
  <% mesures.each do |mesure| %>
    <%# <% link_to mesure do %>
      <div class="item">
        <h5><%= mesure.title %></h5>
        <% if mesure.status == "En cours de concertation" %>
          <p>Discuté depuis: <%#= mesure.created_at.strftime("%a %b %e at %l:%M %p") %> </p>
        <% end %>
        <div class="votes">
          <p><%= mesure.votes_for.size %></p><i class="fa-solid fa-thumbs-up mx-1"></i>
          <p><%= mesure.get_downvotes.size %></p><i class="fa-solid fa-thumbs-down mx-1"></i>
        </div>
      </div>
    <%# <% end %>
  <% end %>
  <div style="height:40px;"></div>
  <%= link_to "Afficher plus", mesures_path, class: "btn btn-primary"  %>
</div>
