<div class="blue-box <%= cl %> ">
  <div class="mb-5 pb-2">
    <% mesures.each do |mesure| %>
      <%= link_to mesure do %>
        <div class="item">
          <h5><%= mesure.title %></h5>
          <div class="d-flex justify-content-end gap-1">
            <% if mesure.status == "En cours de concertation" %>
              <p>Depuis le: <%= mesure.created_at.strftime("%e/%m/%y") %> </p>
            <% elsif mesure.status = "Validé" && parameter == "maire"%>
              <p>Validée</p>
            <% end %>
          <%= render 'shared/mesure_likes', mesure: mesure %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="position-bottom-map justify-content-end">
    <%= link_to "Afficher plus", mesures_path(mesures: parameter), class: "btn btn-primary" %>
  </div>
</div>
