<div class="col-6 d-flex">
  <div class="blue-box">
    <h3><%= title %></h3>
    <div class="mb-5 pb-2">
      <% mesures.each do |mesure| %>
        <%= link_to mesure do %>
          <div class="item">
            <h5><%= mesure.title %></h5>
            <div class="d-flex justify-content-end gap-1">
              <% if mesure.status == "En cours de concertation" %>
                <p>Discuté depuis le: <%= mesure.created_at.strftime("%e %b à %H:%M") %> </p>
              <% end %>
              <div class="votes">
                <p><%= mesure.votes_for.size %></p>
                <i class="fa-solid fa-thumbs-up mx-1"></i>
                <p><%= mesure.get_downvotes.size %></p>
                <i class="fa-solid fa-thumbs-down mx-1"></i>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="position-bottom-map justify-content-end">
      <%= link_to "Afficher plus", mesures_path(mesures: parameter), class: "btn btn-primary" %>
    </div>
  </div>
</div>
