<div class="container font-raleway">
<h5 class="text-center"><%= observation.title %></h5>
<div class="d-flex justify-content-between">
<p class="mb-2"><%= observation.user.first_name %> <%= observation.user.last_name %></p>
<p class="mb-2"> le <%= observation.created_at.strftime("%e %b %Y") %></p>
</div>
<div class="d-flex gap-4  border-bottom border-dark-subtle justify-content-end">
<p class="mb-2
          <%= "red" if ["Environnement","Santé","Finances"].include?(observation.category.name)%>
          <%= "blue" if ["Solidarité", "Sport", "Inclusion", "Jeunesse"].include?(observation.category.name)%>
          <%= "green" if ["Culture", "Patrimoine", "Tourisme", "Mobilier"].include?(observation.category.name)%>
          <%= "yellow" if observation.category.name == "Autre"%>
          "><%= observation.category.name %></p>
</div>
<p class="fst-italic"> <%= observation.description %></p>
</div>
