<div class="col-md-8">
  <div class="blue-box">
    <h3>Mesures proposées</h3>
    <%= render partial: "shared/filter_bar" %>
    <% mesures.each do |mesure| %>
      <%= link_to mesure, class: "item flex-column" do %>
        <div class="d-flex mt-1">
          <h3 class="text-start">
            <%= mesure.title.slice(0..40) %><%= "..." if mesure.title.length > 40 %>
          </h3>
          <div class="right-corner">
            <%= render partial: "shared/mesure_likes", locals: {mesure: mesure } %>
          </div>
        </div>
        <div class="d-flex my-0 justify-content-between me-2">
          <p class="
          <%= "red" if ["Environnement","Santé","Finances"].include?(mesure.category.name)%>
          <%= "blue" if ["Solidarité", "Sport", "Inclusion", "Jeunesse"].include?(mesure.category.name)%>
          <%= "green" if ["Culture", "Patrimoine", "Tourisme", "Mobilier"].include?(mesure.category.name)%>
          <%= "#F9F3CC" if mesure.category.name == "Autre"%>
          "><%= mesure.category.name %></p>
          <div class="d-flex align-items-center gap-1">
          <% if mesure.status == "En cours de concertation" %>
           <p>Statut: </p> <i class="fa-regular fa-comment-dots text-primary"></i><p>depuis <%= mesure.created_at.strftime("%e %b à %H:%M") %> </p>
          <% elsif mesure.status == "Refusé" %>
          <p>Statut: </p><i class="fa-solid fa-xmark text-danger"></i>
          <% elsif mesure.status == "Validé" %>
          <p>Statut: </p><i class="fa-regular fa-square-check text-success"></i>
          <% end %>
          </div>
        </div>
        <div class="my-2">
          <p class="fst-italic mx-0">"<%= mesure.content.slice(0..250) %><%= "..." if mesure.content.length > 250 %>"</p>
        </div>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-end">
      <% pages.each do |n| %>
        <div class="page-link
        <% if n == params[:page].to_i || (!params[:page].present? && n == 1) %>
        <%= " active" %>
        <% end %>">
          <%= link_to "#{n}", mesures_path(mesure: {mayor: params.dig(:mesure,:mayor), category_id: params.dig(:mesure,:category_id), sort_by: params.dig(:mesure,:sort_by), order: params.dig(:mesure,:order)},page: n)%>
        </div>
      <% end %>
    </div>
  </div>
</div>
