<div class="col-md-12 sub-comment-area">
  <% sub_comments.each do |sub_comment| %>
      <div class="sub-comment col-10">
        <div class="user-name-time-sub-comment">
          <div class="d-flex">
            <h6 class="name-sub-comment"><%= sub_comment.user.first_name %> <%= sub_comment.user.last_name %> </h6>
            <p class="time-sub-comment"><%= (Time.now - sub_comment.created_at).minutes%> minutes ago</p>
          </div>
          <% if sub_comment.user == current_user %>
            <%= link_to sub_comment_path(sub_comment), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr?" } do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
        <p class="content"><%= sub_comment.content %></p>
          <div class="answers-like">
            <div class="comment-votes">
            <div data-controller="sub-comment-vote" class="votes">
              <%= render 'sub_comments/sub_upvote_link', sub_comment: sub_comment %>
              <%= render 'sub_comments/sub_downvote_link', sub_comment: sub_comment %>
            </div>
            </div>
          </div>
    </div>
  <% end %>
</div>
